input {
    border: 1px solid #000000;
    border-radius: 15px;
}

textarea {
    border: 1px solid black;
    border-radius: 10px;
}

.submit {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px gray;
    color: black !important;
}

.submit:hover {
    cursor: pointer;
}

.submit:active {
    box-shadow: 3px 3px 4px gray inset;
}